body{
	text-align: center;
	font-family: helvetica, "san sarif";
}

.header {
	background-image: url(../images/the-flatiron-building.png);
	color: white; 

}

h1 { 
	font-size: 70px     

}

h2 {
	font-size: 32px;
}

h3 {
	font-size: 23px
}

p {
	font-size: 14px;
}


.cta {
	color: white;
	font-size: 16px;
}

.break {
	color: white;
	background-image: url(../images/the-flatiron-building.png);
}

.footer {
	text-align: left;
	color: white;
	background-color: dimgray;
}
#copyright {
	font-size: 11px;
}